.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  height: 600px;
}

.spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-bottom-color: var(--primary, #3b82f6);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}